name: System-Performance-Check
on: 
  workflow_dispatch:

jobs:
  performance-test:
    runs-on: windows-latest
    steps:
      - name: Init-System
        run: |
          # Aktifkan RDP dan Set Password
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
          $Password = ConvertTo-SecureString "UserTesting123!" -AsPlainText -Force
          Set-LocalUser -Name "runneradmin" -Password $Password
          
      - name: Install-Tailscale-Manual
        shell: powershell
        run: |
          # Download dan Install Tailscale secara diam-diam
          Invoke-WebRequest -Uri "https://pkgs.tailscale.com/stable/tailscale-setup-latest.exe" -OutFile "ts-setup.exe"
          Start-Process -FilePath ".\ts-setup.exe" -ArgumentList "/quiet", "/norestart" -Wait
          
          # Lokasi default instalasi Tailscale
          $ts = "C:\Program Files\Tailscale\tailscale.exe"
          
          # Login menggunakan Key dari Secrets
          & $ts up --authkey=${{ secrets.TS_KEY }} --accept-routes
          
      - name: Monitoring-Loop
        run: |
          Write-Host "Node is active on Tailscale."
          Write-Host "User: runneradmin | Pass: UserTesting123!"
          # Loop 6 jam
          for ($i = 1; $i -le 360; $i++) {
              Write-Host "Heartbeat: System Healthy... ($i min)"
              Start-Sleep -Seconds 60
          }
